[user]
	name = scimania
	email = gauravdeepubhi@gmail.com

[core]
  pager = bat
[credential]
	helper = 
	helper = /home/scimania/.local/bin/git-credential-manager
	credentialStore = cache
[credential "https://dev.azure.com"]
	useHttpPath = true
